.form-main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 30rem;
    border: 1px solid #222;
    border-radius: 20px;
    padding: 1.5rem;
    background-color: azure;
}